
.body-sec1{
    background-color: #dadada;
}
.body-sec2{
    
    background-color: rgb(196, 240, 198);    
    text-align: center;
}
.footer{
    padding: 3rem 0;
    background-color: #083300eb;
    color: #dadada;
}
footer a{
    color: #dadada;
    text-decoration: none;
}
.img6{
    /* height: 350px;
    max-width: 84rem; */
}
.nav.h2{
    justify-content: left;
}


.seller{
  height: 300px;
}
.seller-heading{
  font-size: 3rem;
}




/* LoginPage */
.LoginPage {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #f8f9fd;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #6cf0c2;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .login-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }



  /* About */
.data>h4{
    color: rgb(235, 129, 43);
  }
.container .title{
  padding: 50px;
}


/* Login */



#main-div {
  
  width: 500px;
  justify-content: center;
  font-size: x-large;
}




/* Registration */
/* 

#main-div{
  width: 500px;
  justify-content: center;
  font-size: x-large;
  
}
.title-page{
  text-align: center;
  font-size: 2.9rem;
  font-family: "Roboto", sans-serif;
}

.text-name{
  font-size: medium;
  font-family: "Roboto", sans-serif ;
}
.link-tag{
  text-align: center;
  
}
.link-tag a{
  text-decoration: none;
}
.feature-font-size{
  font-size: 0.7rem;
}

.usertype{
  font-size: 1.2rem;
  margin-bottom: 12px;
}  */